* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(./images/background-img.png);
  font-family: "Odibee Sans";
}

#root {
  max-width: 400px;
  margin: 0 auto;
  width: 75%;
  height: 100vh;
  list-style: none;
}

@media (min-height: 639px) {
  #root {
    height: 120vh;
  }
}

@media (min-height: 739px) {
  #root {
    height: 1150px;
  }
}
